.setFotter {
    display: flex;
    flex-direction: row;
    width: 100%;
    background: linear-gradient(0.25turn, #5ae0e0, rgb(90, 223, 224), rgb(72, 217, 219), rgb(61, 194, 196), rgb(52, 166, 168), rgb(42, 128, 130)) !important;
    justify-content: center;
}

.setMargin {
    margin: 0%;
    max-width: 50px;
    min-width: 50px;
    margin: 15px;
}

.logoSize {
    max-height: 40px;
    min-height: 50px;
}

.logoSize:hover {
    max-height: translateY(-0.2rem);
    transition: transform 150ms;
    opacity: .5;
}